.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10%;
  top: auto;
  left: auto;
}

.marginsContainer {
  margin: 2%;
}
